@font-face{
font-family:"Univers W01_n3";
src:font-url("296c59c2-74b0-41c1-bcfd-23d22a713f86.eot?#iefix") format("eot")
}
@font-face{
font-family:"Univers W01";
src:font-url("296c59c2-74b0-41c1-bcfd-23d22a713f86.eot?#iefix");
src:font-url("296c59c2-74b0-41c1-bcfd-23d22a713f86.eot?#iefix") format("eot"),font-url("d4a01ff3-d1c6-49c0-a4e8-350a6eef9880.woff2") format("woff2"),font-url("609beecf-8d23-4a8c-bbf5-d22ee8db2fc9.woff") format("woff"),font-url("a6595b8d-d4a3-4f01-bf21-0b53617d4b1c.ttf") format("truetype"),font-url("1cd9ef2f-b358-4d39-8628-6481d9e1c8ce.svg#1cd9ef2f-b358-4d39-8628-6481d9e1c8ce") format("svg");
font-weight: 300;
font-style: normal;
}
@font-face{
font-family:"Univers W01_n4";
src:font-url("aefefc4e-9cb8-4e8e-8599-dda705456734.eot?#iefix") format("eot")
}
@font-face{
font-family:"Univers W01";
src:font-url("aefefc4e-9cb8-4e8e-8599-dda705456734.eot?#iefix");
src:font-url("aefefc4e-9cb8-4e8e-8599-dda705456734.eot?#iefix") format("eot"),font-url("87512e82-56b3-4356-97ab-9cd7b2957e37.woff2") format("woff2"),font-url("1eaf27c0-f4de-4273-9f4c-1b3236ad2f3c.woff") format("woff"),font-url("9b913baf-b1f0-47d2-8c76-42f59650058f.ttf") format("truetype"),font-url("0abcce12-2274-4ee7-b6d5-0066b5f5f670.svg#0abcce12-2274-4ee7-b6d5-0066b5f5f670") format("svg");
font-weight: 400;
font-style: normal;
}
@font-face{
font-family:"Univers W01_n2";
src:font-url("6bba7e28-1748-401d-91dc-6998ac60e165.eot?#iefix") format("eot")
}
@font-face{
font-family:"Univers W01";
src:font-url("6bba7e28-1748-401d-91dc-6998ac60e165.eot?#iefix");
src:font-url("6bba7e28-1748-401d-91dc-6998ac60e165.eot?#iefix") format("eot"),font-url("1052b306-469a-4a82-a1fd-52c0607e20b2.woff2") format("woff2"),font-url("be7ea3ea-e09b-451e-b97c-362668d31c5b.woff") format("woff"),font-url("6227e606-f97b-4dc5-a971-14169ff750df.ttf") format("truetype"),font-url("5fbe907d-e311-40df-a30c-b22f1f47d80b.svg#5fbe907d-e311-40df-a30c-b22f1f47d80b") format("svg");
font-weight: 200;
font-style: normal;
}
