$base-font-size: 16px; // for EMs

$red-dark: #730C00;
$red: #A12302;
$black: #000;
$border: #D9D9D9;

// FONTS.COM weights
// Univers W01    49 Light Condensed Ultra        200
// Univers W01    47 Condensed Light              300
// Univers W01    57 Condensed                    400


@mixin sans-light-cnd-ultra($size: 100%, $line-height: 1) {
  font: 200 normal $size/#{$line-height} 'Univers W01', helvetica, arial, sans-serif;
}

@mixin sans-light-cnd($size: 100%, $line-height: 1) {
  font: 300 normal $size/#{$line-height} 'Univers W01', helvetica, arial, sans-serif;
}

@mixin sans-cnd($size: 100%, $line-height: 1) {
  font: 400 normal $size/#{$line-height} 'Univers W01', helvetica, arial, sans-serif;
}

@mixin breakpoint($point) {
  @if $point == tablet {
    @media all and (max-width: em(1024px)) { @content; }
  }
  @else if $point == mobile {
    @media all and (max-width: em(700px)) { @content; }
  }
  @else if $point == mobile-portrait {
    @media all and (max-width: em(400px)) { @content; }
  }
}

@function em($px, $base: $base-font-size) {
  @return ($px / $base) * 1em;
}

%clearfix {
  &:before, &:after { display: table; content: ""; }
  &:after { clear: both; }
  *zoom: 1;
}

%visuallyhidden {
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  position: absolute;
}

%visuallyhidden-focusable {
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  position: absolute;

  &:active, &:focus {
    clip: auto;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
  }
}

