---
title: A Conversation with Spirits Inside the Simulation of a Coast Salish Longhouse
description:
---

.content-container
  .page-content
    %h2.work-type Writings /
    %h1.work-title A Conversation with Spirits Inside the Simulation of a Coast Salish Longhouse

    .work-content
      .work-details
        %p Published in: “Critical Digital Studies: A Reader, Second Edition.” Arthur and Marilouise Kroker eds. (University of Toronto Press, Scholarly Publishing Devision, 2013).

      .work-embed
        = image_tag 'placeholder-x.png'

      %p Abstract: Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.


