---
title: A Conversation with Spirits Inside the Simulation of a Coast Salish Longhouse
description:
---

.content-container
  .page-content
    %h2.work-type Writings /
    %h1.work-title A Conversation with Spirits Inside the Simulation of a Coast Salish Longhouse

    .work-content
      .work-details
        %p Published in: “Critical Digital Studies: A Reader, Second Edition.” Arthur and Marilouise Kroker eds. (University of Toronto Press, Scholarly Publishing Devision, 2013).
        %p <a href="http://www.ctheory.net/articles.aspx?id=640">ctheory.net</a>

      .work-embed
        = image_tag 'placeholder-x.png'

      %p This paper takes an interdisciplinary approach to the question of technology by examining points of convergence between Jungian psychoanalysis and Indigenous philosophy. The theoretical trajectory of the text considers traditional Haudenosaunee cosmologies as a way of re-thinking contemporary questions about our digital present and future, in turn proposing possible means of engagement and resistance. Central to the text is a critical analysis of select writings on the topic of dreams and the unconscious by Carl Jung, while at the same time reflecting on traditional Indigenous teachings extracted from the Haudenosaunee theory of dreams. The end goal of the text is the development of an “Indigenous theory of technology” that is faithful to traditional teachings, while addressing the uncanny essence of digitality in contemporary times.



