---
title: After the Drones 
description:
---

.content-container
  .page-content
    %h2.work-type Video &amp; Film /
    %h1.work-title After the Drones 

    .work-content
      .work-details
        %p Single Channel Video
        %p Duration: 3mins. 20sec. 
        %p A collaboration with Arthur and Marilouise Kroker. 
        %p Text and voices: Arthur and Marilouise Kroker
        %p Video art and sound: Jackson 2bears
        %p Visit <a href="http://pactac.net/2014/10/after-the-drones/">pactac.net</a> and <a href="http://www.ctheory.net/announcements.aspx?id=625201362552">ctheory.net</a>

      %p

    .wide-embed
      <iframe src="https://player.vimeo.com/video/128931298" width="928" height="600" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>




