---
title: Coded Territories
description:
---

.content-container
  .page-content
    %h2.work-type Writings /
    %h1.work-title Coded Territories

    .work-content
      .work-details
        %p Published in: “Critical Digital Studies: A Reader, Second Edition.” Arthur and Marilouise Kroker eds. (University of Toronto Press, Scholarly Publishing Devision, 2013).
        %p 978-1-55238-706-1 (Paperback)<br>978-1-55238-742-9 (Institutional PDF)<br>978-1-55238-746-7 (ePub)

      .work-embed
        = image_tag 'placeholder-x.png'

      %p This collection of essays provides a historical and contemporary context for Indigenous new media arts practice in Canada. The writers are established artists, scholars, and curators who cover thematic concepts and underlying approaches to new media from a distinctly Indigenous perspective. Through discourse and narrative analysis, the writers discuss a number of topics ranging from how Indigenous worldviews inform unique approaches to new media arts practice to their own work and specific contemporary works. Contributors include: Archer Pechawis, Jackson 2Bears, Jason Edward Lewis, Steven Foster, Candice Hopkins, and Cheryl L'Hirondelle.

      %h3.h3 About the Editors

      %p Steven Loft was recently the National Visiting Trudeau Fellow at Ryerson University. Previously, he was the Curator-in-Residence of Indigenous Art at the National Gallery of Canada and Director/Curator of the Urban Shaman Gallery in Winnipeg.

      %p Kerry Swanson has worked in the Indigenous media arts sector for over a decade. She is the former Executive Director of the imagineNATIVE Film + Media Arts Festival. She currently works for the Toronto Arts Council.




