---
title: Drifting; Almost Invisible 
description:
---

.content-container
  .page-content
    %h2.work-type Installation /
    %h1.work-title Drifting; Almost Invisible 

    .work-content
      .work-details
        %p Multimedia Installation
        %p “The Works Festival”; Calgary, AB. Canada.
        %p Duration: 4min. 23sec. 
        %p Materials: Terracotta ceramic mask, Mini (pico) projector, 4 channel sound, dvd player and projector, table, chair and dirt. 

      .work-embed
        = image_tag 'placeholder-x.png'

      %p <strong>Drifting; Almost Invisible</strong> was a installation artwork created for The Works festival in Calgary Alberta that was inspired by a series of reoccurring dreams I had in which I experienced the slow disappearance of my body while siting at my grandmothers’ kitchen table shortly after she had passed away. For  me, this project attempted to deal with the unnerving feeling of erasure of ones physical self (perhaps, also, the loss of connection with ones heritage) following the passing of a close relative. The work consisted of a closed-door performance in which I sat at a table and was covered by collected remnants of earth, my head positioned inside a terracotta ceramic mask that had a video of my own face projected on its surface. For the performance I carried out a series of improvised actions that concluded with me exiting the room and leaving behind the trace imprint of my body in the dirt. 

    .wide-embed
      <iframe src="https://player.vimeo.com/video/128928850" width="928" height="600" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>




