---
title: For this Land 
description:
---

.content-container
  .page-content
    %h2.work-type Installation /
    %h1.work-title For this Land

    .work-content
      .work-details
        %p 3-Channel Video Installation  
        %p A collaboration Janet Rogers
        %p Documentation is from the Audain Gallery in the Visual Arts Department at the University of Victoria

      .work-embed
        = image_tag 'for-this-land-1.png'

      %p The “For this Land” series was inspired by Sioux philosopher Vine Deloria jr.—in particular, his 1998 book from which the title of this project is borrowed. What I find compelling is Deloria’s argument about an incommensurability between Western theology and Indigenous spirituality in that the first is rooted in a temporal logic, and latter in a ‘spatial’ philosophy. Deloria says, Indigenous world-views are spatial because they privilege a spiritual relationship to ‘place’ and, therefore, tribal spiritual sensibilities emerge from  attention given to the landscape and geographical orientation—as the elders say, we write our stories, our histories on the Land.

      %p This particular installation was inspired by Mohawk poet Pauline Johnson, the ‘place’ where she was born, and the house in which she grew up—an estate named Chiefswood on the Six Nations Indian Reserve. For several days Janet and I stayed on our home territory, explored the heritage site, and creatively engaged with the stories that Pauline left for us on the land. We documented elements of this—our actions, experiences, and conversations. This installation is an imaginative versioning and an aesthetic interpretation of the dialogues that Janet and I had with this ‘place’.

    .wide-embed
      <iframe src="https://player.vimeo.com/video/143432915" width="928" height="600" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

      %p Jackson 2bears is a Kanien’kehaka (Mohawk) multimedia artist from Six Nations, Ontario. 2bears' has exhibited his multimedia works in solo and group exhibitions across Turtle Island, and internationally in media arts festivals and group exhibitions. 2bears is currently Professor of Native American Art Studio at the University of Lethbridge, AB.

      %p Janet Rogers is a Mohawk/Tuscarora writer from the Six Nations band in Ontario. She was born in Vancouver and has been living on the traditional lands of the Coast Salish people in Victoria, British Columbia, since 1994. Janet works in the genres of poetry, spoken-word performance poetry, video poetry, recorded poetry with music, and script writing. From 2012 to 2014, Janet served as Poet Laureate of Victoria.
​


