---
title: Forever 
description:
---

.content-container
  .page-content
    %h2.work-type Video &amp; Film /
    %h1.work-title Forever

    .work-content
      .work-details
        %p Video Poem
        %p 5mins. 4sec.
        %p 2014
        %p <a href="https://www.facebook.com/2Romediainc/">Media</a>
        %p Forever : An Original Poem by Janet Rogers
        %p From the Book Peace in Duress
        %p Camera Work by: Jackson 2bears, Doug Jarvis, and River
        %p Filmed on location on traditional Lekwungen territory
        %p with help from Janet Rogers and Talon Books
        %p Produced by Jackson 2bears -- Aug 2014

      %p A collaboration with Kanien’kehaka (Mohawk) poet and performance artist Janet Rogers, this video-poem revisits the spirit of the Haudenosaunee Two Row Wampum law. The original poem by rogers is from her newest collection of works titled Peace in Duress. 

    .wide-embed
      <iframe src="https://player.vimeo.com/video/109102225" width="928" height="600" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

    .work-content

      %p “Mohawk spoken-word artist Janet Marie Rogers’s newest collection pulses with the rhythms of the drum and the beat of the heart. Poems drawing on the language of the earth and inflected with the outspoken vocality of activism address the crises of modern “land wars” – environmental destruction, territorial disputes, and resource depletion.This collection is confessional love, learned survival, ardent resistance, and unique poetry that wants to be spoken (aloud). If poetry is medicine, Peace in Duress is a cabinet full.” — <a href="http://talonbooks.com/books/peace-in-duress/">talonbooks.com</a>



