---
title: Forever 
description:
---

.content-container
  .page-content
    %h2.work-type Video &amp; Film /
    %h1.work-title Forever

    .work-content
      .work-details
        %p Video
        %p Duration: 5mins. 4sec.
        %p Producer: Janet Rogers
        %p Director: Jackson 2bears

      .work-embed
        = image_tag 'placeholder-x.png'

      %h3.h3 Lorem Ipsum

      %p Collaboration with Janet Rogers … Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.



