---
title: Kaie:ri Nikawera:ke (The Four Corners of the Earth)
description:
---

.content-container
  .page-content
    %h2.work-type Performance /
    %h1.work-title Kaie:ri Nikawera:ke (The Four Corners of the Earth)

    .work-content
      .work-details
        %p Multimedia Performance
        %p Recorded at the Comox Valley Art Gallery; Courtenay BC. (2010)
        %p Duration: 8min. 9sec.
        %p Materials: 1 Video Projector, 4 Channel Sound, IBVA (Brain Wave Analyzer), EKG (Heart Sensor), 2 Mac Pro Laptops, Specialized software developed by the artist in Max MSP Jitter (Cycling 74).

      .work-embed
        = image_tag 'placeholder-x.png'

      %h3.h3 Lorem Ipsum

      %p The Conjuration of Joseph Brant was a performance that made use of the IBVA (Interactive Brainwave Visual Analyzer), a device that measures EEG (Electroencephalography) signals in the brain by sensing electrical activity along the scalp produced by the firing of neurons within the brain.The software (developed in part by the artist in Max/MSP/Jitter) splits the signals acquired by the IBVA into bandwidths associated with: Delta, Theta, Alpha, Beta, Gamma and Eye movement. Once the data from the IBVA is acquired, the software uses the signals from the brain to control audio and video playback in real-time.

      %p A Heart rate (EKG) sensor was also used to measure my pulse during the performance, and signals from this sensor added an extra element of video/sound to the artwork.  These signals (EEG and EKG) are of course largely uncontrollable, but some measure of control can be achieved with practice. During the performance, I silently recited a speech of Brant’s to myself, and other times tried to picture different paintings in my mind. The idea behind these activities was to ‘conjure’ the ghost of Brant during an immersive performance of creative imagining.

