---
title: Heritage Mythologies
description:
---

.content-container
  .page-content
    %h2.work-type Performance /
    %h1.work-title Heritage Mythologies

    .work-content
      .work-details
        %p Live Cinema/ Scratch Video Performance 
        %pRecorded Live at SAW gallery, Ottawa ON. 2010
        %pDuration: 12min. 10sec. 
        %p Materials: 2 Technics 1200 Series Turntables, DJM800 Pioneer Dj Mixer (w/MIDI), Audio 8 DJ Sound Card (N/I), 2 Mac Pro Laptops, Video Projector, Standard 2 Channel Sound System, 2 Specially Encoded Vinyl Records, VJ software developed by the artist in Max MSP Jitter (Cycling 74).

      .work-embed
        = image_tag 'heritage-1.jpg'

      %p Heritage Mythologies is a Live Cinema/Scratch Video performance artwork that utilizes gesture controlled vinyl-tracking technology in conjunction with specialized software in order to edit, manipulate and ‘scratch’ audio/video media in real-time. Heritage Mythologies premiered as a part of an international artist residency/ exchange project between Canada and Ireland entitled Crossings (curated by Christine Connley). The performance was delivered in two parts; the first ‘episode’ took place at SAW gallery in Ottawa during Aboriginal Awareness Week, and ‘episode 2’ was presented at Catalyst Arts in Belfast. 

    .wide-embed
      <iframe src="https://player.vimeo.com/video/61661549" width="928" height="600" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

    .work-content

      %p The artwork incorporates elements of ‘Canadian cultural heritage’ such as video fragments of the famous Heritage Minutes that aired on CBC television in the 1990’s. The work also features a number of remixes incorporating Canada’s national anthem, footage from the Oka Crisis, protests surrounding the 2010 Olympic games, and archival footage of residential schools mashed-up with parliamentary footage of the official Federal government apology in 2008.


