---
title: Iron Tomahawks
description:
---

.content-container
  .page-content
    %h2.work-type Performance /
    %h1.work-title Iron Tomahawks

    .work-content
      .work-details
        %p Live Cinema/ Scratch Video Performance 
        %p Recorded Live at various venues across Canada
        %p Duration: 10min. 6sec. 
        %p Materials: 2 Technics 1200 Series Turntables, DJM800 Pioneer Dj Mixer (w/MIDI), Audio 8 DJ Sound Card (N/I), 2 Mac Pro Laptops, Video Projector, Standard 2 Channel Sound System, 2 Specially Encoded Vinyl Records, VJ software developed by the artist in Max MSP Jitter (Cycling 74).

      .work-embed
        = image_tag 'placeholder-x.png'

      %h3.h3 Lorem Ipsum

      %p Iron Tomahawks is an ongoing (2005 - present) Live Cinema/Scratch Video performance artwork that utilizes gesture controlled vinyl-tracking technology in conjunction with specialized software in order to edit, manipulate and ‘scratch’ audio/video media in real-time. The artwork incorporates elements (samples) of documentary and Hollywood films, Internet videos, and television news clips into an audio/visual remix intended as form of cultural critique. 

      %p Iron Tomahawks has been performed at art galleries, artists-run centers and festivals across Canada and internationally, at venues such as: Musée d'art Contemporain de Montréal; the Vancouver Art Gallery; Bbeyond (Belfast, Ireland); the Vancouver New Music Festival; EM-Media (Calgary); SAW Gallery (Ottawa); ImagineNative film Festival (Toronto); Harcourt House (Edmonton); Redshift Gallery (Saskatoon); the North American Indigenous Games (Cowichan); En-Seine-Festival (Paris, France); and Digital Art Weeks (Zurich, Switzerland). 


