---
title: Iron Tomahawks
description:
---

.content-container
  .page-content
    %h2.work-type Performance /
    %h1.work-title Iron Tomahawks

    .work-content
      .work-details
        %p Live Cinema/ Scratch Video Performance 
        %p Recorded Live at various venues across Canada
        %p Duration: 10min. 6sec. 
        %p Materials: 2 Technics 1200 Series Turntables, DJM800 Pioneer Dj Mixer (w/MIDI), Audio 8 DJ Sound Card (N/I), 2 Mac Pro Laptops, Video Projector, Standard 2 Channel Sound System, 2 Specially Encoded Vinyl Records, VJ software developed by the artist in Max MSP Jitter (Cycling 74).

      .work-embed
        = image_tag 'iron-tomahawks-1.jpg'

      %p Iron Tomahawks is an ongoing (2005 - present) Live Cinema/Scratch Video performance artwork that utilizes gesture controlled vinyl-tracking technology in conjunction with specialized software in order to edit, manipulate and ‘scratch’ audio/video media in real-time. The artwork incorporates elements (samples) of documentary and Hollywood films, Internet videos, and television news clips into an aural/visual remix intended as form of cultural critique. 

    - # note we indent back a level here (to break out of .work-content) in order to go full width
    .wide-embed
      <iframe src="https://player.vimeo.com/video/108970693" width="928" height="600" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

    - # then we re-open .work-content for the remaining text
    .work-content
      %p The tracking technology consists of vinyl records that have been pressed with specially encoded audio signals. When played on an analogue turntable, the audio signal from the record is decoded by computer software using a series of pitch detection algorithms that determine the speed and direction of playback; the performer thus has the ability to control audio/video in real-time through physical gestures performed on the vinyl records. The software application was developed in the Max/MSP/Jitter (cycling74) programming environment for the purpose of dynamically controlling digital media in much the same way that a turntablist or dj might manipulate sound. 

      %p Over the past nine years, Iron Tomahawks has had myriad incarnations, but the focus has consistently been to explore the deconstruction of Native stereotypes in popular culture through the language of the cut-up and the remix. The concept of deconstruction here comes through in the method of performance, with the idea of destabilizing existing narratives through splicing media fragments together, running sections (samples) backwards and forwards, and layering audio and video media together to create new hybrid narratives. 

      %p Iron Tomahawks has been performed at art galleries, artists-run centers and festivals across Canada and internationally, at venues such as: Musée d'art Contemporain de Montréal; the Vancouver Art Gallery; Bbeyond (Belfast, Ireland); the Vancouver New Music Festival; EM-Media (Calgary); SAW Gallery (Ottawa); ImagineNative film Festival (Toronto); Harcourt House (Edmonton); Redshift Gallery (Saskatoon); the North American Indigenous Games (Cowichan); En-Seine-Festival (Paris, France); and Digital Art Weeks (Zurich, Switzerland).



