---
title: Kaie:ri Nikawera:ke (The Four Corners of the Earth)
description:
---

.content-container
  .page-content
    %h2.work-type Installation /
    %h1.work-title Kaie:ri Nikawera:ke (The Four Corners of the Earth)

    .work-content
      .work-details
        %p Interactive Digital Media Installation
        %p Curated by Lisa Baldiserra for the LAB, and hosted by Art Gallery of Greater Victoria; Victoria, BC. (Project in Development)
        %p Duration: 2min. 33sec.
        %p Materials: Handmade Pow Wow Drum, 3 Contact Microphones,  Orientation Sensor (Infusion Systems), 1 Video Projector, 8 Channel Sound Card, 1 Computer, Specialized software developed by the artist in Max MSP Jitter (Cycling 74).

      .work-embed
        = image_tag 'placeholder-x.png'

      %p Kaie:ri Nikawera:ke is a site-specific, interactive installation (still in development), which reflects on the deep spiritual connection Onkwehonwe (Indigenous peoples)  maintain with the land and the natural environment. It is about what Indigenous philosopher Gregory Cajete has referred to as an all-pervasive Theory of Interconnectedness in which the land itself is considered to be an extension of the body – where ‘human consciousness and nature are intricately intertwined’. 

    .wide-embed
      <iframe src="https://player.vimeo.com/video/108980983" width="928" height="600" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p>

    .work-content

      %p Kaie:ri Nikawera:ke is a Kanienkeha (Mohawk) word which means ‘the four corners of the earth’, and it references a central theme in the Rotinoshonni (Iroquois confederacy). It is with this sentiment that this artwork takes ‘orientation’ as its central theme, reflecting on the struggles of Indigenous peoples to maintain an intimate spiritual connection to Mother Earth in contemporary times.

      %p The user interface is comprised of a large Pow Wow drum wired with electronic sensors that provide the basis for audience interaction. Affixed to the drum are two types of sensors that convert electronic signals to MIDI data which are then processed by a computer. The first sensor detects the orientation or direction the drum is facing: Othorè:ke (North), Éntie nonkwáti (South), Ná:kon nonkwáti (East), and È:neken nonkwáti (West). The second sensor detects vibrations on the surface of the drum that respond to the instrument being played. When the drum is struck video is projected on its surface that corresponds to the actions of the user. The video consists of footage taken during ‘video-walks’ – recordings of the city in which the installation is taking place, starting from the gallery and walking in one of the four cardinal directions. The drum thus acts as a compass, aligning the narrative with the corresponding direction that the drum is facing; rotating the drum on its axis causes the video to change relative to direction, and thus the actions of the user in this regard determines how the narrative unfolds.


