---
title: Live Audio + Visual Art and First Nations Culture
description:
---

.content-container
  .page-content
    %h2.work-type Writings /
    %h1.work-title Live Audio + Visual Art and First Nations Culture

    .work-content
      .work-details
        %p Published in:
        %p Leonardo Electronic Almanac (LEA). Lanfranco Aceti, Steve Gibson and Stefan Muller Arisona vol eds. Ozden Sahin ed. (LEA, Vol 19:3, ISBN: 978-1-906897-22-2) Online: http://www.leoalmanac.org/vol19-no3-live-visuals/

      .work-embed
        = image_tag 'placeholder-x.png'

      %p Abstract: Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.


