---
title: Live Audio + Visual Art and First Nations Culture
description:
---

.content-container
  .page-content
    %h2.work-type Writings /
    %h1.work-title Live Audio + Visual Art and First Nations Culture

    .work-content
      .work-details
        %p Published in:
        %p Leonardo Electronic Almanac (LEA). Lanfranco Aceti, Steve Gibson and Stefan Muller Arisona vol eds. Ozden Sahin ed. (LEA, Vol 19:3, ISBN: 978-1-906897-22-2)
        %p <a href="ttp://www.leoalmanac.org/vol19-no3-live-visuals/">leoalmanac.org</a>


      .work-embed
        = image_tag 'placeholder-x.png'

      %p This essay focuses on a selection of First Nations artists that have envisioned their own unique style within the sphere of ‘Live Cinema’ performance, and other associated genres such as ‘Vjing’ and ‘Scratch Video’ – relatively new forms of artistic practice that here I conceptualize as being modernized versions of our ancient traditions of storytelling. Following a ‘remix’ logic, this essay means to explore some aspects particular to the art of live audiovisual performance, and the ‘rhythmic’ aesthetic at the heart of Live Cinema that has attracted a number of artists from my generation to make work in these fields, and develop their own strategies for creative expression that remain faithful to our traditions as Onkwehonwe (Indigenous peoples).



