---
title: Mythologies of an [Un]Dead Indian
description:
---

.content-container
  .page-content
    %h2.work-type Writings /
    %h1.work-title Mythologies of an [Un]Dead Indian

    .work-content
      .work-details
        %p Doctoral Dissertation

      .work-embed
        = image_tag 'mythologies-1.jpg'


      %p Mythologies of an [Un]Dead Indian is the title of my Doctoral dissertation, a 300 page manuscript that is currently being prepared for submission for publication. Doctoral study was undertaken by Special Arrangement with the Faculty of Interdisciplinary Graduate Studies at the University of Victoria, and was comprised of academic research in the fields of Indigenous Philosophy, Cultural Studies, Computer Music, and Digital Media/Performance Art.

      %p The central focus of this project is the conceptual transformation and reconfiguration of Indigenous identity in a contemporary context, something in the text that is enframed by a creative examination of select artworks by contemporary First Nations artists. The writing brings together post-structuralist theory and traditional First Nations teachings as a means to explore the thematics of heritage, ancestry, shape-shifting, technology, possession and haunting. The methodological approach to the writing is that of a critical autobiography that also draws together theorists such as Jacques Derrida, Vine Deloria jr., Carl Jung, Taiaiake Alfred, Gilles Deleuze and Felix Guattari.

      %p Each chapter features critical reflections on specific First Nations artists such as James Luna, Lori Blondeau, Kent Monkman, Terrence Houle, Dana Claxton, Rebecca Belmore and Skeena Reece (among many others) as a means to contextualize the different hybrid theoretical positions that are posited. For instance, one of the central themes in the text is a rethinking of the question of First Nations heritage and ancestry through the Derridian notion of hauntology, which is here recontextualized through Indigenous mythologies such as the Trickster and legends of Shapeshifters, specters, sacred spirits and what I have termed an Indigenous Theory of Technology.

      %h3.h3 Chapter titles include:

    .work-details
      %p 1) Specters of an [Un]dead Indian; 2) The Death of the Indian Act; 3) Post-Indian Mythologies of Shadow Survivance; 4) Hyper-Phantomality and Simulated Survivance; 5) Shapeshifter Stories in Translation; 6) A Conversation with Spirits Inside the Simulation of a Coast Salish Longhouse; 7) Native Hip-Hop: The Eternal Refrain of the Breakbeat, Becomings-Machine, Becomings-Animal and Possessed Vocality.




