---
title: NDN’s on the Airwaves 
description:
---

.content-container
  .page-content
    %h2.work-type Video &amp; Film /
    %h1.work-title NDN’s on the Airwaves 

    .work-content
      .work-details
        %p Video
        %p Proof of concept trailer
        %p 2mins. 20sec. 
        %p Producer: Janet Rogers
        %p Director: Jackson 2bears 
        %p Sponsors: APTN, NSI, NFB
        %p <a href="https://www.facebook.com/2Romediainc/">Media</a>



      %p NDN’s on the Airwaves is a short, forthcoming documentary by 2Ro Media — Jackson 2bears and Janet Rogers. The documentary follows Mohawk poet and radio host Janet Rogers in her return home after several years living on the West Coast of Turtle Island. The film focuses on CKRZ-Fm on the Six Nations reservation—that for over 25 years has given people a different perspective on important news events, featured Indigenous talent and supported local artists—and how Janet seeks to find her voice on the airwaves in her home territory. This is the ‘sizzle reel’. 

    .wide-embed
      <iframe src="https://player.vimeo.com/video/128947872" width="928" height="600" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>



