---
title: Conjuration of Joseph Brant 
description:
---

.content-container
  .page-content
    %h2.work-type Performance /
    %h1.work-title Red Visions Instruments 

    .work-content
      .work-details
        %p In-Studio Demonstration of new A/V instruments
        %p Recorded in-studio at the University of Victoria; Victoria BC. (2014)
        %p Duration: 3min. 50sec. 

      .work-embed
        = image_tag 'red-visions-1.jpg'


      %p In my position as the Audain Professor in Contemporary Art Practice of the Pacific Northwest at the University of Victoria I have been working to design and create new audio/video ‘instruments’ to be used in new Digital Media performance artworks. At present I am developing 4 new audio/video instruments: a video keyboard/ synthesizer, a handdrum interface, a Pad controller, and a large pow wow drum interface to work in conjunction with specialized software I am developing in Max/MSP/Jitter. 

      %p Central to this project is the creation of a ‘modular’ software application designed to work in conjunction with a variety of hardware control interfaces. The software application is being developed in the Max/MSP/Jitter (Cycling74) programming environment, and its primary function will be to enable the realtime control and manipulation of audio/video media. The software will consist of a number of A/V ‘modules’ that can be reconfigured by the user to suit their various hardware configurations and performance needs. (It is my intent to adapt these ‘instruments’ for use with the Beat Nation Live! collective). 

    .wide-embed
      <iframe src="https://player.vimeo.com/video/123789726" width="928" height="600" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></p>

    .work-content


