---
title: The Stand-Off 
description:
---

.content-container
  .page-content
    %h2.work-type Installation /
    %h1.work-title The Stand-Off 
    .work-content
      .work-details
        %p Multimedia Installation
        %p Duration: 4min. 
        %p Materials: 2 video projectors, 4 channel sound, mac pro and specialized software developed in Max MSp Jitter. 
        %p 2006 - 2007

      .work-embed
        = image_tag 'standoff-1.jpg'

      %p The Stand-Off is a 2 channel video installation that remixes contemporary news media with sampled clips taken from classic Western movies and Cowboys and Indians films.  The majority of the footage, which was sampled from on-line sources, focuses on the Caledonia Land Dispute that erupted in 2006 in Ontario that began when members of the Six Nations occupied 40 hectares of land in order to stop an outside developer. Having grown up in this territory I felt particularly close to the subject matter. In a way, the Stand-off was for me a way to show support to my sisters and brothers who were on the front lines during the struggle. And from another perspective, this project is a reminder of all the struggles our people have been through throughout history – let us never forget . . .

      %p The projected image features a stylized version of myself melodically beating a Pow Wow drum, flanked on both sides by two red bars that reference the Canadian flag. With each strike of the drum new images appear on its surface, as a constant flow of text (headlines from the Caledonia Dispute taken from the media) bombards the screen obscuring and revealing different elements of the image. The overall effect is one of chaos, and confusion, as each of the two drummers in the opposing video projections fall in and out of sequence, and different audio/video media flood the screen.


