---
title: Contact Jackson 2bears – Kanien’kehaka (Mohawk) multimedia artist and cultural theorist
description:
---

.content-container
  .flow-2col
    .p2
      %p He has also exhibited his work in media arts festivals and group exhibitions internationally, most recently at Futur En Seine Festival (Paris, France), Bbeyond (Belfast, Ireland), South Film Festival (Southend on Sea, UK) and Digital Art Weeks (Zurich, Switzerland).

      %p 2bears is currently a member of Beat Nation [Live]—a First Nations artist collective that combines hip hop, live music and digital technology as a way to celebrate the spirit of contemporary Indigenous culture. He is also a co-founding member of Noxious Sector—a communal forum dedicated to the exploration of interdisciplinary artistic practice and creative expression.

      %p 2bears’ writings have appeared in Ctheory and the Leonardo Electronic Almanac (LEA) as well as in numerous catalogues and exhibition monographs, with a forthcoming essay to appear in a book edited by Steven Loft and Kerri Swanson for the ImagineNative Film + Media Arts Festival.

      %p In 2012 2bears completed his PhD in Interdisciplinary Studies at the University of Victoria, Victoria BC. He is currently Audain Professor of Contemporary Art Practice of the Pacific Northwest, and Senior Research Associate at the Pacific Centre for Technology and Culture (PACTAC) at the University of Victoria.

.wide-image
  = image_tag 'hero.jpg', alt: 'Jackson 2bears at work'
