---
title: Contact Jackson 2bears – Kanien’kehaka (Mohawk) multimedia artist and cultural theorist
description:
---


.content-container
  .page-content
    %h1.work-title Contact /

    .work-content

      %p The best way to get in touch is to <a href="mailto:mail@jackson2bears.net?Subject=writing via jackson2bear.net" target="_top"> email Jackson</a> directly.


.wide-image
  = image_tag 'hero.jpg', alt: 'Jackson 2bears at work'
