---
title: Jackson 2bears – Kanien’kehaka (Mohawk) multimedia artist and cultural theorist
description: Jackson 2bears is a Kanien’kehaka (Mohawk) multimedia artist and cultural theorist.
---

.content-container
  .home-intro
    %p She:kon / Greetings.

    %p Jackson 2bears is a Kanien’kehaka (Mohawk) multimedia installation/ performance artist and cultural theorist from Six Nations who is currently based in Lethbridge Alberta, Canada. Since 1999, 2bears has exhibited his work extensively across Canada in public galleries, museums and artist-run centres, as well as internationally in festivals and group exhibitions.

.content-container
  .flow-2col
    .p2

      %p Some recent exhibitions include: Musée d'art Contemporain de Montréal; Urban Shaman (Winnipeg, MB); Bbeyond (Belfast, Ireland); SAW Gallery (Ottawa, ON); A Space (Toronto, ON); the Vancouver New Music Festival (Vancouver, BC.); Vancouver Art Gallery (Vancouver, BC.); Art Gallery of Greater Victoria (Victoria, BC.); EM Media (Calgary, AB.); the Banff Centre (Banff, AB.); Redshift Gallery (Saskatoon, SK.); Digital Art Weeks (Zurich, Switzerland); North American Indigenous Games (Cowichan, BC); and the Futur-en-Seine Festival (Paris, France).

      %p 2bears is currently a member of Beat Nation [Live]—a First Nations artist collective that combines hip hop, live music and digital technology as a way to celebrate the spirit of contemporary Indigenous culture. He is also a co-founding member of Noxious Sector—a communal forum dedicated to the exploration of interdisciplinary artistic practice and creative expression. 2bears is presently co-director of 2Ro Media Inc. with Mohawk poet, performance artist and producer Janet Rogers—their short documentary, NDN’s on the Airwaves, is currently in production and expected to air on APTN in 2016. 

      %p 2bears is an active researcher in the areas of video arts, digital media, and extended media, with a focus on embodied interaction and live audio/visual (Live Cinema) performance. His recent works focus on how the changing impacts of technology have a profound effect on contemporary politics, culture and society, in particular with regard to First Nations communities. Recently published scholarly essays can be found in peer-reviewed journals such as C-Theory and the Leonardo Electronic Almanac (LEA), as well as in the text Coded Territories: Tracing Indigenous Pathways in New Media Art published by the University of Calgary Press (2014).

      %p 2bears holds a BA. in Art & Art History from the University of Toronto, as well as a Diploma in Fine Arts from Sheridan College, Oakville. He received his MFA from the University of Victoria during which time he produced digital media installation and performance artworks that variously explored themes of Indigenous heritage, resistance, and cultural renewal. His thesis exhibition was a telematic/ interactive installation and performance that explored such themes as distributed reality and technological immersion in relation to transformations in First Nations identity and culture. 

      %p In 2012 2bears completed his PhD in Interdisciplinary Studies at the University of Victoria, Victoria BC. where he studied with esteemed professors Arthur Kroker, Taiaiake Alfred, Steve Gibson and Andrew Schloss. His Doctoral work takes a cross-cultural and multi-disciplinary approach to questions of contemporary Indigenous identity, technology and interactive/performance art. His dissertation, entitled Mythologies of an [Un]dead Indian, explores the aesthetics of contemporary Indigenous identity—its various manifestations, transformations, simulations and hybridizations—within the context of our hyper-mediated, technologically saturated culture. 

      %p 2bears recently completed two terms as Audain Professor of Contemporary Art of the Pacific Northwest at the University of Victoria, and is currently Assistant Professor of Studio Art and Native American Studio Art at the University of Lethbridge, AB.
































.wide-image
  = image_tag 'hero.jpg', alt: 'Jackson 2bears at work'
