---
title: j2b
description: Class aptent "taciti sociosqu" ad litora torquent per conubia nostra, per inceptos himenaeos.
---
<div class='home-summary'>
	<p>Jackson 2bears is a Kanien’kehaka (Mohawk) multimedia artist currently based in Victoria B.C. work focuses on the aesthetics of Indigenous identity in contemporary times Rifflandia September 15th.</p>
</div>